@-ms-viewport{
  width: device-width;
}

html {
	background: url("./imgs/Win\ The\ Race!.jpg") no-repeat center fixed; 
	background-size: cover;
}

#header {
    background:url(medium-density-image.png);
}

@media screen and (-webkit-device-pixel-ratio: 1.5) {
    /* CSS for high-density screens */
    #header {
        background:url(high-density-image.png);
    }
}

@media screen and (-webkit-device-pixel-ratio: 0.75) {
    /* CSS for low-density screens */
    #header {
        background:url(low-density-image.png);
    }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.clearfix:after,
.container:after,
.navbar:after {
	clear: both;
	display: table;
	content: " ";
}

.wrap {
	height: 100%;
	width: 100%;
	position: absolute;
	/* This ensures that the images cannot 
	   render outside of their container 
	   without forcing any scrollbars*/
	overflow: hidden;
	top: 0;
	left: 0;
	text-align: center;
}

.menu-container {	
	max-height: 340px;
	margin: 0% auto;
	content: " ";
	top: 0;
	left: 0;
	/* position: absolute; [to the top edge of the screen] */
	width: 100%;
	position: fixed;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.5);
}

.flex-container {
    display: -webkit-flex;
    display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 8px;
	margin: 0px auto;
	background-color: rgba(100,65,0,.3);
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
}

#contact {
     background-color: #f5f3f3;
}

.menu {
	color: #f00;
	font: bold 12px/18px sans-serif;
	text-align: center;
	display: inline;
	margin: 0% auto;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.menu li {
	color: #000;
	background-color: rgba(255, 255, 255, 1);
	display: inline-block;
	margin: 0% auto;
	position: relative;
	padding: 15px 4%;
	border: 1px solid #9D9FA2;
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
	border-radius: 6px;
	/*background-color: #052136;*/
	cursor: pointer;
	transition-property: background;
	transition-duration: .4s;
	transition-delay: 0s;
	transition-timing-function: ease-in-out;
}

.menu li:hover {
	color: #f00;
	background-color: rgba(100,65,0,.3);
}
.os-phrases h2 {
	font-family: 'Dosis', 'Lato', sans-serif;
	font-size: 25px;
	font-weight: 600;
	width: 100%;
	overflow: hidden;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0px;
	left: 0;
	letter-spacing: 8px;
	text-align: center;
	opacity: 0;
}

.os-phrases h3 {
	font-family: 'Dosis', 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 200;
	width: 100%;
	overflow: hidden;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 70px;
	left: 0;
	letter-spacing: 14px;
	text-align: center;
	opacity: 0;
}

.os-phrases h2,
.os-phrases h2 > span {
	height: 100%;
	/* Centering with flexbox */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.os-phrases h3,
.os-phrases h3 > span {
	height: 100%;
	/* Centering with flexbox */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.os-phrases h2 > span {
	margin: auto;
}

.os-phrases h3 > span {
	margin: auto;
}

.os-phrases h2 > span > span {
	display: inline-block;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.os-phrases h3 > span > span {
	display: inline-block;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.os-phrases h2 > span > span > span {
	display: inline-block;
	color: hsla(0,0%,0%,0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-animation: OpeningSequence 14.51145s linear forwards;
	-moz-animation: OpeningSequence 14.51145s linear forwards;
	animation: OpeningSequence 14.51145s linear forwards;
}

.os-phrases h2:nth-child(2) > span > span > span {
	-webkit-animation-delay: 8.57s;
	-moz-animation-delay: 8.57s;
	animation-delay: 8.57s;
}

.os-phrases h3 > span > span > span {
	display: inline-block;
	color: hsla(0,0%,0%,0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-animation: OpeningSequence 5s linear forwards;
	-moz-animation: OpeningSequence 5s linear forwards;
	animation: OpeningSequence 5s linear forwards;
}

.os-phrases h3:nth-child(2) > span > span > span {
	-webkit-animation-delay: 3.5s;
	-moz-animation-delay: 3.5s;
	animation-delay: 3.5s;
}

.os-phrases h2:nth-child(3) > span > span > span {
	-webkit-animation-delay: 17s;
	-moz-animation-delay: 17s;
	animation-delay: 17s;
}

.os-phrases h2:nth-child(4) > span > span > span {
	-webkit-animation-delay: 25s;
	-moz-animation-delay: 25s;
	animation-delay: 25s;
}

.os-phrases h2:nth-child(5) > span > span > span {
	font-size: 150px;
	-webkit-animation-delay: 32s;
	-moz-animation-delay: 32s;
	animation-delay: 32s;
}

.os-phrases h2:nth-child(6) > span > span > span {
	-webkit-animation-delay: 42;
	-moz-animation-delay: 42;
    animation-delay: 42;
    -webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	animation-duration: 4s;
	/* -webkit-animation-delay: 42;
	-moz-animation-delay: 42;
    animation-delay: 42; */
    -webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	animation-duration: 4s;
}

.os-phrases h2:nth-child(7) > span > span > span {
	-webkit-animation-delay: 48s;
	-moz-animation-delay: 48s;
    animation-delay: 48s;
    -webkit-animation-duration: 5s;
	-moz-animation-duration: 5s;
	animation-duration: 5s;
}

@-webkit-keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 100px #fff;
		letter-spacing: 30px;
		opacity: 0;
		-webkit-transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 2px blue;
		letter-spacing: 8px;
		opacity: 0.8;
		-webkit-transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 2px #fff;
		opacity: 0.8;
		-webkit-transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 20px blue;
		opacity: 0;
		-webkit-transform: translateZ(130px);
		pointer-events: none;
	}
}

@-moz-keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 100px #fff;
		letter-spacing: 80px;
		opacity: 0.2;
		-moz-transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 2px blue;
		letter-spacing: 14px;
		opacity: 0.8;
		-moz-transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 2px #fff;
		opacity: 0.8;
		-moz-transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 20px blue;
		opacity: 0;
		-moz-transform: translateZ(130px);
		pointer-events: none;
	}
}

@keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 100px #fff;
		letter-spacing: 80px;
		opacity: 0.2;
		transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 2px blue;
		letter-spacing: 14px;
		opacity: 0.8;
		transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 2px #fff;
		opacity: 0.8;
		transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 20px blue;
		opacity: 0;
		transform: translateZ(130px);
		pointer-events: none;
	}
}

.os-phrases h2:nth-child(8) > span > span > span {
	font-size: 30px;
	-webkit-animation: FadeIn 4s linear 50s forwards;
	-moz-animation: FadeIn 4s linear 50s forwards;
	animation: FadeIn 4s linear 50s forwards;
	-webkit-animation: FadeIn 50s linear 50s forwards;
	-moz-animation: FadeIn 50s linear 50s forwards;
	animation: FadeIn 50s linear 50s forwards;
}

@-webkit-keyframes FadeIn { 
	0% {
		opacity: 0;
		text-shadow: 0 0 100px blue;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 2px #fff;
	}
}

@-moz-keyframes FadeIn { 
	0% {
		opacity: 0;
		text-shadow: 0 0 100px #fff;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 2px blue;
	}
}

@keyframes FadeIn { 
	0% {
		opacity: 0;
		text-shadow: 0 0 100px blue;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 2px #fff;
	}
}

/* Bold words */
.os-phrases h2:first-child .word3,
.os-phrases h2:nth-child(2) .word2,
.os-phrases h2:nth-child(4) .word2 {
	font-weight: 800;
}
/*End Tutorial Take Away*/

.os-phrases h3 {
	font-family: 'Dosis', 'Lato', sans-serif;
	font-size: 35px;
	font-weight: 600;
	width: 100%;
	overflow: hidden;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0px;
	left: 0;
	letter-spacing: 8px;
	text-align: center;
	opacity: 0;
}

.os-phrases h3,
.os-phrases h3 > span {
	height: 100%;
	/* Centering with flexbox */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.os-phrases h3 > span {
	margin: auto;
}

.os-phrases h3 > span > span {
	display: inline-block;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.os-phrases h3 > span > span > span {
	display: inline-block;
	color: hsla(0,0%,0%,0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-animation: OpeningSequence 14.51145s linear forwards;
	-moz-animation: OpeningSequence 14.51145s linear forwards;
	animation: OpeningSequence 14.51145s linear forwards;
}

.os-phrases h3:nth-child(2) > span > span > span {
	-webkit-animation-delay: 8.57s;
	-moz-animation-delay: 8.57s;
	animation-delay: 8.57s;
}

.os-phrases h3:nth-child(3) > span > span > span {
	-webkit-animation-delay: 17s;
	-moz-animation-delay: 17s;
	animation-delay: 17s;
}

.os-phrases h3:nth-child(4) > span > span > span {
	-webkit-animation-delay: 25s;
	-moz-animation-delay: 25s;
	animation-delay: 25s;
}

.os-phrases h3:nth-child(5) > span > span > span {
	font-size: 150px;
	-webkit-animation-delay: 32s;
	-moz-animation-delay: 32s;
	animation-delay: 32s;
}

.os-phrases h3:nth-child(6) > span > span > span {
	-webkit-animation-delay: 42;
	-moz-animation-delay: 42;
    animation-delay: 42;
    -webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	animation-duration: 4s;
	/* -webkit-animation-delay: 42;
	-moz-animation-delay: 42;
    animation-delay: 42; */
    -webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	animation-duration: 4s;
}

.os-phrases h3:nth-child(7) > span > span > span {
	-webkit-animation-delay: 48s;
	-moz-animation-delay: 48s;
    animation-delay: 48s;
    -webkit-animation-duration: 5s;
	-moz-animation-duration: 5s;
	animation-duration: 5s;
}

@-webkit-keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 100px #fff;
		letter-spacing: 30px;
		opacity: 0;
		-webkit-transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 2px blue;
		letter-spacing: 8px;
		opacity: 0.8;
		-webkit-transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 2px #fff;
		opacity: 0.8;
		-webkit-transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 20px blue;
		opacity: 0;
		-webkit-transform: translateZ(130px);
		pointer-events: none;
	}
}

@-moz-keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 100px #fff;
		letter-spacing: 80px;
		opacity: 0.2;
		-moz-transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 2px blue;
		letter-spacing: 14px;
		opacity: 0.8;
		-moz-transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 2px #fff;
		opacity: 0.8;
		-moz-transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 20px blue;
		opacity: 0;
		-moz-transform: translateZ(130px);
		pointer-events: none;
	}
}

@keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 100px #fff;
		letter-spacing: 80px;
		opacity: 0.2;
		transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 2px blue;
		letter-spacing: 14px;
		opacity: 0.8;
		transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 2px #fff;
		opacity: 0.8;
		transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 20px blue;
		opacity: 0;
		transform: translateZ(130px);
		pointer-events: none;
	}
}

.os-phrases h3:nth-child(8) > span > span > span {
	font-size: 30px;
	-webkit-animation: FadeIn 4s linear 50s forwards;
	-moz-animation: FadeIn 4s linear 50s forwards;
	animation: FadeIn 4s linear 50s forwards;
	-webkit-animation: FadeIn 50s linear 50s forwards;
	-moz-animation: FadeIn 50s linear 50s forwards;
	animation: FadeIn 50s linear 50s forwards;
}

@-webkit-keyframes FadeIn { 
	0% {
		opacity: 0;
		text-shadow: 0 0 100px blue;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 2px #fff;
	}
}

@-moz-keyframes FadeIn { 
	0% {
		opacity: 0;
		text-shadow: 0 0 100px #fff;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 2px blue;
	}
}

@keyframes FadeIn { 
	0% {
		opacity: 0;
		text-shadow: 0 0 100px blue;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 2px #fff;
	}
}

/* Bold words */
.os-phrases h3:first-child .word3,
.os-phrases h3:nth-child(2) .word2,
.os-phrases h3:nth-child(4) .word2 {
	font-weight: 800;
}

.os-phrases p {
	font-family: 'Dosis', 'Lato', sans-serif;
	font-size: 35px;
	font-weight: 600;
	width: 100%;
	overflow: hidden;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0px;
	left: 0;
	letter-spacing: 8px;
	text-align: center;
	opacity: 0;
}

.os-phrases p,
.os-phrases p > span {
	height: 100%;
	/* Centering with flexbox */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.os-phrases p > span {
	margin: auto;
}

.os-phrases p > span > span {
	display: inline-block;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.os-phrases p > span > span > span {
	display: inline-block;
	color: hsla(0,0%,0%,0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-animation: OpeningSequence 14.51145s linear forwards;
	-moz-animation: OpeningSequence 14.51145s linear forwards;
	animation: OpeningSequence 14.51145s linear forwards;
}

.os-phrases p:nth-child(2) > span > span > span {
	-webkit-animation-delay: 8.57s;
	-moz-animation-delay: 8.57s;
	animation-delay: 8.57s;
}

.os-phrases p:nth-child(3) > span > span > span {
	-webkit-animation-delay: 17s;
	-moz-animation-delay: 17s;
	animation-delay: 17s;
}

.os-phrases p:nth-child(4) > span > span > span {
	-webkit-animation-delay: 25s;
	-moz-animation-delay: 25s;
	animation-delay: 25s;
}

.os-phrases p:nth-child(5) > span > span > span {
	font-size: 150px;
	-webkit-animation-delay: 32s;
	-moz-animation-delay: 32s;
	animation-delay: 32s;
}

.os-phrases p:nth-child(6) > span > span > span {
	-webkit-animation-delay: 42;
	-moz-animation-delay: 42;
    animation-delay: 42;
    -webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	animation-duration: 4s;
	/* -webkit-animation-delay: 42;
	-moz-animation-delay: 42;
    animation-delay: 42; */
    -webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	animation-duration: 4s;
}

.os-phrases p:nth-child(7) > span > span > span {
	-webkit-animation-delay: 48s;
	-moz-animation-delay: 48s;
    animation-delay: 48s;
    -webkit-animation-duration: 5s;
	-moz-animation-duration: 5s;
	animation-duration: 5s;
}

@-webkit-keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 100px #fff;
		letter-spacing: 30px;
		opacity: 0;
		-webkit-transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 2px blue;
		letter-spacing: 8px;
		opacity: 0.8;
		-webkit-transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 2px #fff;
		opacity: 0.8;
		-webkit-transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 20px blue;
		opacity: 0;
		-webkit-transform: translateZ(130px);
		pointer-events: none;
	}
}

@-moz-keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 100px #fff;
		letter-spacing: 80px;
		opacity: 0.2;
		-moz-transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 2px blue;
		letter-spacing: 14px;
		opacity: 0.8;
		-moz-transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 2px #fff;
		opacity: 0.8;
		-moz-transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 20px blue;
		opacity: 0;
		-moz-transform: translateZ(130px);
		pointer-events: none;
	}
}

@keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 100px #fff;
		letter-spacing: 80px;
		opacity: 0.2;
		transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 2px blue;
		letter-spacing: 14px;
		opacity: 0.8;
		transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 2px #fff;
		opacity: 0.8;
		transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 20px blue;
		opacity: 0;
		transform: translateZ(130px);
		pointer-events: none;
	}
}

.os-phrases p:nth-child(8) > span > span > span {
	font-size: 30px;
	-webkit-animation: FadeIn 4s linear 50s forwards;
	-moz-animation: FadeIn 4s linear 50s forwards;
	animation: FadeIn 4s linear 50s forwards;
	-webkit-animation: FadeIn 50s linear 50s forwards;
	-moz-animation: FadeIn 50s linear 50s forwards;
	animation: FadeIn 50s linear 50s forwards;
}

@-webkit-keyframes FadeIn { 
	0% {
		opacity: 0;
		text-shadow: 0 0 100px blue;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 2px #fff;
	}
}

@-moz-keyframes FadeIn { 
	0% {
		opacity: 0;
		text-shadow: 0 0 100px #fff;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 2px blue;
	}
}

@keyframes FadeIn { 
	0% {
		opacity: 0;
		text-shadow: 0 0 100px blue;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 2px #fff;
	}
}

/* Bold words */
.os-phrases p:first-child .word3,
.os-phrases p:nth-child(2) .word2,
.os-phrases p:nth-child(4) .word2 {
	font-weight: 800;
}

#footer {
	color: #D4AF37;
	font-size: 18px;
	font-weight: 120;
	display: block;
	position: absolute;
  	right: 0px;
  	bottom: 0;
  	left: 0;
	height : 80px;
	margin-top : 80px;
  }
